/* Header */
 
/* Search */
.header-section{
	background: #fff;
	width: 100%;
}

.header-search{
	border: 1px solid #cccccc;
	display: inline-flex;
	height: 45px;
	padding: 8px;
	width: 198px;
	margin-top: 14px;
}

.search-text{
	border: none;
	color: #7f7f7f;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	outline: 0;
}

.header-search img{
	cursor: pointer;
}	

/* Logo */
.logo-pet-store{
	margin-left: 0 !important;
	text-align: center;
}

/* Login & cart icon */
.user-login-shopping{
	margin-left: 0 !important;
	margin-top: 15px;
	text-align: center;
}

.shopping-cart{
	position: relative;
	cursor: pointer;
}

.notification-text{
	color: #fff;
	font-family: "Montserrat";
	font-size: 10px;
	position: absolute;
	right: 2px;
	top: 0;
	border-radius: 12px;
	background-color: #ffa200;
	width: 15px;
	height: 13px;
}

/* Menu */
.header-menu-section{
	background:  #8158c5;
	height: 50px;
}

.menu-items{
	display: inline-flex;
	margin-top: 15px;
}

.menu-category{
	position: relative;
}

.category-link{
	font-size: 14px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;
	padding: 17px 20px;
}

.category-link:hover{
	background-color: #ffa200;
	color: #8158c5;	
}

.menu-subcategory{
	position: absolute;
	border: 1px solid #f0f0f0;
	z-index: 99;
	top: 34px;
	background-color: #ffffff;
	width: 200px;
}

.menu-mobile{
	display: none;
	position: absolute;
	right: 25px;
	top: 12px;
}

.menu-subcategory li{
	padding: 8px 0;
}

.menu-subcategory li a{
	font-family: "Montserrat";
	font-size: 12px;
	color: #7f7f7f;
	padding: 10px 10px;
}	

.menu-subcategory li a:hover{
	color: #ffffff;
	background-color: #7f7f7f;
	display: block;
	width: 100%;
	height: 100%;
}

.menu-category .menu-subcategory{
	display: none;
}

.menu-category:hover .menu-subcategory{
	display: block;
	animation: show-subcategory .2s forwards;
} 

@keyframes show-subcategory{
	from{
		opacity: 0;
		transform: translate3d(0,30px,0);	
	}
	to{
		opacity: 1;
		transform: translate3d(0,0,0)
	}
} 

.banner{
	margin: -5px;
}

.banner-background{
	width: 100%;
	position: relative;
}


.section-items{
	background-color: #ffa200;
	padding: 10px 0px;
}


.section-products-content{
	padding: 30px 0;
	overflow: hidden;
}

.title{
	font-family: "Montserrat";
	font-size: 24px;
	color: #7f7f7f;	
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.item-product{
	margin-bottom: 40px;
}

.section-products-content-items{
	overflow: hidden;
	margin-top: 28px;
	text-align: center;
	font-size: 14px;
	color: #7f7f7f;
	font-family: "Montserrat";
}

.item-product-name{
	margin: 10px 0;
}

.item-product-price{
	font-weight: bold;
	margin: 10px;
}

.previous-price{
	text-decoration:line-through;
	padding: 2px
}

.item-product-observation{
	background-color: #8158c5;
	border: 1px solid #ffffff;
	padding: 6px 15px;
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
}

.item-product-image{
	position: relative;
}

.item-product-image:hover .item-produt-image-hover{
	display: block;
}

.item-produt-image-hover{
	display: none;
	background-color:rgba(129, 88, 197, 0.4);
  height: 100%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
	width: 100%;
	padding: 130px 0;
	font-weight: bold;
}

.button{
	font-size: 12px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;	
	text-transform: uppercase;
	padding: 12px 10px;
	background-color: #ffa200;
	font-weight: bold;
}

.first{
	margin-left: 0 !important;
}

.button-see-products{
	text-align: center;
	margin: 15px 0;
}

.section-newsletter{
	background-color: #8158c5;
	width: 100%;
	padding: 10px 0;
}

.benefits-list{
	overflow: hidden;
	border-bottom: 2px solid #ffa200;
}

.benefits-list img{
	margin-right: 10px;
}

.benefits-list-text{
	font-size: 12px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-news{
	font-size: 24px;
	color: #ffffff;
	font-family: "Montserrat";
	text-transform: uppercase;
	letter-spacing: 1px;
}	

.sign-in-newsletter{
	padding: 50px 0 0;
	text-align: center;
}

.subtitle-news{
	font-size: 14px;
	color: #ffffff;
	font-family: "Montserrat";
	margin: 20px 0 0;
}

.newsletter-form, #form-newsletter{
	overflow: hidden;
	
}

#form-newsletter{
	margin: 80px 0 50px;
	transform: translate(25%, 0%);
}

#form-newsletter input{
	background: none;
  border: none;
  border-radius: 0;
  display: block;
  font-size: 16px;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	font-family: "Montserrat";
	margin-bottom: 10px;
	padding: 10px 0;
	outline: 0;
}

#form-newsletter ::-webkit-input-placeholder {
	color: #ffffff;
}

.btn-form{
	border: none;
}


.section-footer{
	padding: 40px 0;
}

.footer-information{
	overflow: hidden;
}

.sociais-networks{
	margin: 20px 0 10px;
}


.sociais-networks img{
	padding: 3px 8px;
	background-color: #7f7f7f;
	border-radius: 15px;
	margin: 10px;
}

.twitter{
	padding: 6px 5px !important
}

.instagram{
	padding: 4px 5px !important
}

.logo-social-network-adress{
	text-align: center;
}

.sociais-networks img:hover{
	background-color: #ffa200;
}

.logo-social-network-adress p{
	font-size: 12px;
	line-height: 18px;
	color: #7f7f7f;
	font-family: "Montserrat";
}

.pet-store-about-footer{
	text-align: center;
	color: #7f7f7f;
	font-family: "Montserrat";
	font-size: 14px;	
}

.subtitle-footer{
	color: #8158c5;
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 15px;
}

.pet-store-about-footer p{
	margin: 15px 0;
  text-align: left;
  transform: translate(35%, 0%);
}

.pay-visa{
	background-color: #0057a0;
	padding: 9px 5px;
}

.pay-mastercard{
	background-color: #22205f;
	padding: 4px 5px;
}

.pay-express{
	background-color: #2e76bc;
	padding: 7px 3px;
}

.pay-diners{
	padding: 3px 7px;
	border: 1px solid #e1e1e1;
}

.pay-hipercard{
	background-color: #b3131b;
	width: 46px;
	padding: 5px 0;
}

.pay-aura{
	height: 30px;
}
.pay-boleto{
	padding: 2px 4px;
	border: 1px solid #e1e1e1;
}

.pay-elo{
	height: 30px;
	background-color: #231f20;
	padding: 0px 8px;
}

.copy-content{
	text-align: center;
	border-top: 2px solid #f0f0f0;
	padding: 20px 0;
	display: flex;
	justify-content: center;
}

.copy-content span{
	color: #7f7f7f;
	font-size: 12px;
	font-family: "Montserrat";
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copy-content span, .copy-content img{
	margin-right: 20px;
}

.user{
	cursor: pointer;
}

.login-hover{
	position: absolute;
	border: 1px solid #f0f0f0;
	color: #7f7f7f;
  z-index: 99;
  background-color: #ffffff;
  font-family: "Montserrat";
	font-size: 12px;
	padding: 5px;
	width: 100px;
	right: 50%;
	top: 33px;
	display: none;
}

.login-hover li{
	margin: 12px 0;
}

.login-hover li a{
	cursor: pointer;
}

.user-login-shopping:hover .login-hover{
	display: block;
}

.login-hover::before{
	content: "";
	position: absolute;
	top: -6px;
	width: 0px;
	height: 0px;
	right: 11px;
	border-bottom: 6px solid #f0f0f0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	background-color: #fff;

}

.shopping-cart-hover{
	height: 100vh; /* total da altura da tela */
  width: 100%;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.shopping-cart-hover.active{
	display: flex;
}

.modal{
  background: white;
	position: absolute;
	height: 100vh;
	right: 0;
	transform: translate(0, -50%);
	overflow: auto;
}


.modal h2{
	color: #7f7f7f;
	font-family: "Montserrat";
	text-transform: uppercase;
	font-size: 15px;
	padding: 10px;
	
}

.product-titles{
	border-bottom: 2px solid #7f7f7f;
}

.products-subtitles{
	padding: 10px 0;
}

.close {
  position: absolute;
  color: #7f7f7f;
  font-family: "Montserrat";
	cursor: pointer;
	border: none;
	background: none;	
	font-size: 25px;
	outline: 0;
	right: 0;

}

.modal-text{
	font-size: 13px;
	color: #7f7f7f;
	font-family: "Montserrat";
	text-transform: uppercase;
	padding: 10px;
	/* position: absolute; */
}

.subtotal{
	right: 30px;
	transform: translate(0px, -10px);
	position: absolute;
}

.product-shopping-cart{
	margin-top: 10px;
  padding: 10px;
	border-top: 1px solid #f0f0f0;
	color: #7f7f7f;
	font-family: "Montserrat";
	font-size: 13px;
}

.product-description p{
	margin: 5px
}

.product-price-delete{
	position: absolute;
	right: 10px;
	display: inline-flex;
}

.product-price-delete p{
	margin: 0px 20px;
	font-weight: bold;
}

.product-price-delete img{
	cursor: pointer;
}

.product-description .add,
.product-description .sub,
.product-description #campo{
	border: none;
}

.product-description #campo{
	width: 20px;
	border: 1px solid #e4e4e4;
	text-align: center;
	font-family: "Montserrat";
}

.product-shopping-cart-html{
	display: none;
}

.products-total{
	border-top: 1px solid #f0f0f0;
	padding: 15px 0;
	font-weight: bold;
}

.products-cep{
	padding: 18px 10px;
	font-family: "Montserrat";
	text-transform: uppercase;
	font-size: 12px;
	color: #7f7f7f;
	border-top: 1px solid #e4e4e4;
}

.products-cep input{
	outline: 0;
	font-family: "Montserrat";
	font-size: 12px;
	margin: 0 10px 0;
	padding: 5px;
	width: 195px;
}

.products-cep button{
	border: 1px solid #000;
	background: none;
	text-transform: uppercase;
	font-family: "Montserrat";
	padding: 6px;
	color: #7f7f7f;
	font-size: 12px;
	cursor: pointer;
}

.total-finish span{
	font-size: 16px;
}

.products-finish{
	padding: 18px 10px;
	border-top: 1px solid #e4e4e4
}

.products-finish .back{
	font-family: "Montserrat";
	font-size: 13px;
	text-decoration: underline;
	cursor: pointer;
	color: #7f7f7f;
	margin: 0px 20px 0px 5px;
}	

.products-finish button{
	border: none;
	padding: 14px 50px;
}

.animals-categories{
	margin-top: 30px;
}

.serie{
	height: 23px;
}

.nuvemshop{
	height: 20px
}