/* Header */
 
/* Search */
.header-section{
	background: #fff;
	width: 100%;
}

.header-content{
	margin: 22px 0;
	overflow: hidden;
}

.header-search{
	border: 1px solid #cccccc;
	display: inline-flex;
	height: 45px;
	padding: 8px;
	width: 198px;
	margin-top: 14px;
}

.search-text{
	border: none;
	color: #7f7f7f;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	outline: 0;
}

.search-text img{
	height: 20px;
}	

/* Logo */
.logo-pet-store{
	margin-left: 0 !important;
	text-align: center;
}

/* Login & cart icon */
.user-login-shopping{
	margin-left: 0 !important;
	margin-top: 15px;
	text-align: center;
}

.shopping-cart{
	position: relative;
}

.notification{
	height: 18px;
	position: absolute;
	right: 0;
	top: 0px;
}

.notification-text{
	color: #fff;
	font-family: "Montserrat";
	font-size: 10px;
	position: absolute;
	right: 2px;
	top: 3px;
}

/* Menu */
.header-menu-section{
	background:  #8158c5;
	height: 50px;
}

.menu-items{
	display: inline-flex;
	margin-top: 15px;
}

.menu-category{
	position: relative;
}

.category-link{
	font-size: 14px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;
	padding: 17px 20px;
}

.category-link:hover{
	background-color: #ffa200;
	color: #8158c5;	
}

.menu-subcategory{
	position: absolute;
	border: 1px solid #f0f0f0;
	z-index: 99;
	top: 34px;
	background-color: #ffffff;
	width: 200px;
}

.menu-subcategory li{
	padding: 10px 10px;
}

.menu-subcategory li:hover{
	background-color: #7f7f7f;
	padding: 10px 0;
	color: #ffffff;
}

.menu-subcategory li a{
	font-family: "Montserrat";
	font-size: 12px;
	color: #7f7f7f;
	padding: 14px 9px;
}	

.menu-subcategory li a:hover{
	color: #ffffff;
}

.menu-category .menu-subcategory{
	display: none;
}

.menu-category:hover .menu-subcategory{
	display: block;
	animation: show-subcategory .1s forwards;
} 

@keyframes show-subcategory{
	from{
		opacity: 0;
		transform: translate3d(0,30px,0);	
	}
	to{
		opacity: 1;
		transform: translate3d(0,0,0)
	}
} 

.banner-background{
	width: 100%;
	position: relative;
}


.section-items{
	background-color: #ffa200;
	padding: 10px 0px;
}


.section-products-content{
	padding: 30px 0;
	overflow: hidden;
}

.title{
	font-family: "Montserrat";
	font-size: 24px;
	color: #7f7f7f;	
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.item-product{
	margin-bottom: 40px;
}

.section-products-content-items{
	overflow: hidden;
	margin-top: 28px;
	text-align: center;
	font-size: 14px;
	color: #7f7f7f;
	font-family: "Montserrat";
}

.item-product-name{
	margin: 10px 0;
}

.item-product-price{
	font-weight: bold;
	margin: 10px;
}

.previous-price{
	text-decoration:line-through;
	padding: 2px
}

.item-product-observation{
	background-color: #8158c5;
	border: 1px solid #ffffff;
	padding: 6px 15px;
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
}

.item-product-image{
	position: relative;
}

.item-product-image:hover .item-produt-image-hover{
	display: block;
}

.item-produt-image-hover{
	display: none;
	background-color:rgba(129, 88, 197, 0.4);
  height: 100%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
	width: 100%;
	padding: 130px 0;
	font-weight: bold;
}

.button{
	font-size: 12px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;	
	text-transform: uppercase;
	padding: 12px 10px;
	background-color: #ffa200;
	font-weight: bold;
}

.first{
	margin-left: 0 !important;
}

.button-see-products{
	text-align: center;
	margin: 15px 0;
}

.section-newsletter{
	background-color: #8158c5;
	width: 100%;
	padding: 10px 0;
}

.benefits-list{
	overflow: hidden;
	border-bottom: 2px solid #ffa200;
}

.benefits-list-text{
	font-size: 12px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0 30px;
	
}

.delivery{
	text-align: center;
}

.title-news{
	font-size: 24px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}	

.sign-in-newsletter{
	padding: 50px 0 0;
}

.subtitle-news{
	font-size: 14px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;
	margin: 20px 0 0;
}