/* ----- HEADER ---- */
header{
	position: fixed;
  z-index: 9999;
  width: 100%;
}

.header-section{
	background: #fff;
	width: 100%;
}
 
/* caixa de busca */
.header-search{
	border: 1px solid #cccccc;
	display: inline-flex;
	height: 45px;
	padding: 8px;
	width: 198px;
	margin-top: 28px;;
}

.search-text{
	border: none;
	color: #7f7f7f;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	outline: 0;
}

.header-search img{
	cursor: pointer;
}	

/* logo */
.logo-pet-store{
	margin-left: 0 !important;
	text-align: center;
	margin: 14px;
}

/* login e carrinho de compras */
.user-login-shopping{
	margin-left: 0 !important;
	margin-top: 15px;
	text-align: center;
	margin-top: 35px;
}

.user{
	cursor: pointer;
}

/* hover do usuário */
.login-hover{
	position: absolute;
	border: 1px solid #f0f0f0;
	color: #7f7f7f;
  z-index: 99;
  background-color: #ffffff;
  font-family: "Montserrat";
	font-size: 12px;
	padding: 5px;
	width: 100px;
	right: 50%;
	top: 33px;
	display: none;
}

.login-hover li{
	margin: 12px 0;
}

.login-hover li a{
	cursor: pointer;
}

.user-login-shopping:hover .login-hover{
	display: block;
	animation: show-subcategory .2s forwards;
}

.login-hover::before{
	content: "";
	position: absolute;
	top: -6px;
	width: 0px;
	height: 0px;
	right: 11px;
	border-bottom: 6px solid #f0f0f0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	background-color: #fff;

}

/* carrinho de compras */
.shopping-cart{
	position: relative;
	cursor: pointer;
}

.notification-text{
	color: #fff;
	font-family: "Montserrat";
	font-size: 10px;
	position: absolute;
	right: 2px;
	top: 0;
	border-radius: 12px;
	background-color: #ffa200;
	width: 15px;
	height: 13px;
}


/* ---- MENU ---- */
.header-menu-section{
	background:  #8158c5;
	height: 50px;
}

.menu-items{
	display: inline-flex;
	margin-top: 15px;
}

/* menu principal */
.menu-category{
	position: relative;
}

.category-link{
	font-size: 14px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;
	padding: 17px 20px;
}

.category-link:hover{
	background-color: #ffa200;
	color: #8158c5;	
}

/* menu subcatergoria */
.menu-subcategory{
	position: absolute;
	border: 1px solid #f0f0f0;
	z-index: 99;
	top: 27px;
	background-color: #ffffff;
	width: 200px;
}

.menu-subcategory li{
	padding: 4px 0;
}

.menu-subcategory li a{
	font-family: "Montserrat";
	font-size: 12px;
	color: #7f7f7f;
	padding: 10px 10px;
}	

.menu-subcategory li a:hover{
	color: #ffffff;
	background-color: #7f7f7f;
	display: block;
	width: 100%;
	height: 100%;
}

.sub{
	left: 198px;
	top: 55px;
}

.menu-category .menu-subcategory{
	display: none;
}

.menu-category:hover .menu-subcategory{
	display: block;
	animation: show-subcategory .2s forwards;
} 

/* animação */
@keyframes show-subcategory{
	from{
		opacity: 0;
		transform: translate3d(0,30px,0);	
	}
	to{
		opacity: 1;
		transform: translate3d(0,0,0)
	}
} 

/* Menu responsivo */
.menu-mobile{
	display: none;
	position: absolute;
	right: 25px;
	top: 12px;
}

/* ---- SEÇÃO BANNER ---- */
.banner{
	margin: -5px;
}

.banner-background{
	width: 100%;
	position: relative;
}

.seta-banner-left{
	position: absolute;
}

.seta-banner-right{
	position: absolute;
}

/* ---- SEÇÃO ITENS ANIMAIS ---- */
.section-items{
	background-color: #ffa200;
	padding: 10px 0px;
}

/* ---- SEÇÃO DOS ICONES ANIMAIS ----*/
.animals-categories{
	margin-top: 30px;
}

/* ---- SEÇÃO DOS PRODUTOS ---- */
.section-products-content{
	padding: 30px 0;
	overflow: hidden;
}

.title{
	font-family: "Montserrat";
	font-size: 24px;
	color: #7f7f7f;	
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.section-products-content-items{
	overflow: hidden;
	margin-top: 28px;
	text-align: center;
	font-size: 14px;
	color: #7f7f7f;
	font-family: "Montserrat";
}

.item-product{
	margin-bottom: 40px;
}

.item-product-image{
	position: relative;
}

/* imagem do produto e hover */
.item-produt-image-hover{
	display: none;
	background-color:rgba(129, 88, 197, 0.4);
  height: 100%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
	width: 100%;
	padding: 130px 0;
	font-weight: bold;
}

.button{
	font-size: 12px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;	
	text-transform: uppercase;
	padding: 12px 10px;
	background-color: #ffa200;
	font-weight: bold;
}

.item-product-image:hover .item-produt-image-hover{
	display: block;
}

/* dados do produto */
.item-product-name{
	margin: 10px 0;
}

.item-product-price{
	font-weight: bold;
	margin: 10px;
}

.previous-price{
	text-decoration:line-through;
	padding: 2px
}

.item-product-observation{
	background-color: #8158c5;
	border: 1px solid #ffffff;
	padding: 6px 15px;
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
}

.first{
	margin-left: 0 !important;
}

/* botão ver mais */
.button-see-products{
	text-align: center;
	margin: 15px 0;
}

/* ---- SECTION NEWSLETTER ---- */
.section-newsletter{
	background-color: #8158c5;
	width: 100%;
	padding: 10px 0;
}

/* lista de vantagens */
.benefits-list{
	overflow: hidden;
	border-bottom: 2px solid #ffa200;
}

.benefits-list img{
	margin-right: 10px;
}

.benefits-list-text{
	font-size: 12px;
	color: #ffffff;
	font-family: "Montserrat";
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* formulario */
.title-news{
	font-size: 24px;
	color: #ffffff;
	font-family: "Montserrat";
	text-transform: uppercase;
	letter-spacing: 1px;
}	

.sign-in-newsletter{
	padding: 50px 0 0;
	text-align: center;
	position: relative;
}

.subtitle-news{
	font-size: 14px;
	color: #ffffff;
	font-family: "Montserrat";
	margin: 20px 0 0;
}

.newsletter-form, #form-newsletter{
	overflow: hidden;
}

#form-newsletter{
	margin: 80px 0 50px;
	transform: translate(25%, 0%);
}

#form-newsletter input{
	background: none;
  border: none;
  border-radius: 0;
  display: block;
  font-size: 16px;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	font-family: "Montserrat";
	margin-bottom: 10px;
	padding: 10px 0;
	outline: 0;
}

#form-newsletter ::-webkit-input-placeholder {
	color: #ffffff;
}

.btn-form{
	border: none;
}

/* botões copy */
.buttons-copy{
	position: absolute;
	right: 0;
	cursor: pointer;
}

.whatsapp{
	transform: translate(60px, -20px);
	height: 45px;
}

.arrow-copy{
	transform: translate(110px, -80px);
	height: 45px;
}

/* ---- FOOTER ---- */
.section-footer{
	padding: 40px 0;
}

.footer-information{
	overflow: hidden;
}

/* redes sociais */
.logo-social-network-adress{
	text-align: center;
}
.sociais-networks{
	margin: 20px 0 10px;
}

.sociais-networks img{
	padding: 3px 8px;
	background-color: #7f7f7f;
	border-radius: 15px;
	margin: 10px;
}

.twitter{
	padding: 6px 5px !important
}

.instagram{
	padding: 4px 5px !important
}

.sociais-networks img:hover{
	background-color: #ffa200;
}

/* endereço */
.logo-social-network-adress p{
	font-size: 12px;
	line-height: 18px;
	color: #7f7f7f;
	font-family: "Montserrat";
}

/* sobre a empresa */
.pet-store-about-footer{
	text-align: center;
	color: #7f7f7f;
	font-family: "Montserrat";
	font-size: 14px;	
}

.subtitle-footer{
	color: #8158c5;
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 15px;
}

.pet-store-about-footer p{
	margin: 15px 0;
  text-align: left;
  transform: translate(35%, 0%);
}

/* pagamentos */
.pay-visa{
	background-color: #0057a0;
	padding: 9px 5px;
}

.pay-mastercard{
	background-color: #22205f;
	padding: 4px 5px;
}

.pay-express{
	background-color: #2e76bc;
	padding: 7px 3px;
}

.pay-diners{
	padding: 3px 7px;
	border: 1px solid #e1e1e1;
}

.pay-hipercard{
	background-color: #b3131b;
	width: 46px;
	padding: 5px 0;
}

.pay-aura{
	height: 30px;
}
.pay-boleto{
	padding: 2px 4px;
	border: 1px solid #e1e1e1;
}

.pay-elo{
	height: 30px;
	background-color: #231f20;
	padding: 0px 8px;
}

/* ---- COPYRIGHT ----  */
.copy-content{
	text-align: center;
	border-top: 2px solid #f0f0f0;
	padding: 20px 0;
	display: flex;
	justify-content: center;
}

.copy-content span{
	color: #7f7f7f;
	font-size: 12px;
	font-family: "Montserrat";
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copy-content span, .copy-content img{
	margin-right: 20px;
}

.serie{
	height: 23px;
}

.nuvemshop{
	height: 20px
}

